<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>My Page</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<div align="center" padding="10rem">
    <button type="submit" >Bookings</button>
    <button type="submit">Favourites</button>
</div>
<div>
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="text" name="email" placeholder="Email">
    <button type="submit">Save Changes</button>
</div>


<div th:replace="fragments.html :: footer"></div>
</body>
</html>